body {
    background-color: #222 !important;
    text-align: center;
}

h1 {
    color: #eee;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 4em;
}

.gameButton{
    width: 300px;
    height: 50px;
    display: inline-block;
    margin-bottom: 60px;
}

.gameInput {
    width: 300px;
    display: inline-block;
    clear: both;
    height: 40px;
    margin-bottom: 5px;
}

html form {
    width: 320px;
    display: inline-block;
    text-align: center;
}

.alert {
    display: none;
    position: absolute;
    width: 100%;
    opacity: 0.8;
    top: 10px;
}

.newGameInfo {
    color: #ccc;
}

.player_tank{
    position: absolute;
}